services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./.env
    environment:
      UPLOAD_STORAGE: db
      BACKEND_PORT: 8082
    ports:
      - "8082:8082"

  frontend:
    build:
      context: ./
      dockerfile: Dockerfile.frontend
      args:
        VITE_API_BASE_URL: /api
    ports:
      - "8080:80"
    depends_on:
      - backend

