services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./.env
    environment:
      UPLOAD_STORAGE: db
      BACKEND_PORT: 8084
      RUN_MIGRATIONS: "true"
      CORS_ORIGIN: https://securepass.merdekabattery.com
    ports:
      - "8084:8084"

  frontend:
    build:
      context: ./
      dockerfile: Dockerfile.frontend
      args:
        VITE_API_BASE_URL: /api
    ports:
      - "9101:80"
    depends_on:
      - backend
